@import url(https://fonts.googleapis.com/css?family=Poppins:regular,400,500,600,c&display=swap);

@font-face {
   font-family:CalSans;
   src: url(../fonts/CalSans-SemiBold.woff) format("woff2"), url(../fonts/CalSans-SemiBold.woff2) format("woff");
   font-weight: 400;
   font-style: normal;}


.header__container {
   color: rgb(56, 3, 40);
}
.main title {
font-family: Paprika;
font-weight: 900;
color: blue;
text-transform: capitalize;
}
.title {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color: maroon;
   font-size: medium;
   font-size: 30px;
   text-align: justify;
}
.date {
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-style: italic;
   font-size: medium;
   font-size: 55px;
}
.number {
   font-family: Calsans;
   font-weight: unset;
   font-style: italic;
}
.text {
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-style: oblique;
   text-indent: 1;
}
.text__title {
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-style: oblique;
   font-size: 20px;
}

.name  {
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-weight: 700;
   font-size: 16px;
}
.judgment {
   font-family: Poppins;
   font-weight: 800;
   color: blue;
   text-decoration: underline;
}