h1{
   color: rgb(211, 37, 107);
}

p {
   color: rgb(92, 49, 179);
}

.text {
   color: aqua;
}

.link {
   color: blue;
}


[class*="__container"] {
color: blueviolet;
}

.lessons > p {
   color: lawngreen;
}

h2 ~ span {
   color: darkorange;
}


* li {
   color: deeppink;
}

.main-text {
   color: blue;
}
