@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  color: #6c757d;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.78;
}
.container {
  background: #e5e5e5;
}

.block__container {
  max-width: 1270px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.title {
  color: #212529;
  font-weight: 700;
  font-size: 25px;
  line-height: 1.78;
  margin-bottom: 80px;
}

.text__container {
  max-width: 816px;
  margin: 0 auto 80px;
}

.text__container p {
  margin-bottom: 30px;
}

.image-container {
  margin-bottom: 80px;
}

.images-container {
  font-size: 0;
  margin-bottom: 80px;
}
.images-container-2 {
  font-size: 0;
  margin-bottom: 30px;
}
.first-image {
  margin-right: 30px;
  max-width: 100%;
}
.second-image {
  max-width: 100%;
}
.all-foto {
  width: 100%;
  max-height: 500px;
}
.max-width {
  max-width: 100%;
  margin: 0 auto;
}
.class-foto-all {
  max-width: 1440px;
  margin: 0 auto 100px;
}
.second-container {
  background: #e5e5e5;
}
.img-container {
  margin: 0 auto 100px;
}
.container-circle {
  max-width: 54px;
  margin: 0 auto 64px;
  font-size: 0;
}
.circle {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 1px solid #c4c4c4;
  display: inline-block;
  margin-right: 10px;
}
.circle-1 {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #212529;
  display: inline-block;
  margin-right: 10px;
}
.circle-2 {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 1px solid #c4c4c4;
  display: inline-block;
  margin-right: 10px;
}
.circle-3 {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 1px solid #c4c4c4;
  display: inline-block;
}
.practice {
  padding-left: 15px;
  padding-right: 15px;
  color: black;
  max-width: 1440px;
  margin: 0 auto;
}
.practice p {
  margin-bottom: 40px;
  max-width: 1270px;
  background-color: rgb(222, 232, 232);
}
.first {
  border: 10px solid rgb(238, 170, 130);
  border-top: 15px dotted rgb(0, 255, 94);
  border-right: 10px double violet;
}
.second {
  outline: 5px solid green;
  border-radius: 3px;
}
.three {
  color: rgb(255, 0, 0);
  box-shadow: inset 4px 4px 50px 10px violet;
  outline: 4px dashed rgb(192, 255, 201);
}
.four {
  color: yellowgreen;
  box-shadow: 50px 5px 30px 10px silver;
  border: 6px solid orange;
  border-radius: 3px;
  outline: 5px solid rgb(128, 0, 0);
}
.five {
  opacity: 0.6;
  outline: 3px dashed hsl(248, 91%, 42%);
}
.six {
  visibility: hidden;
  outline: 4px solid rgb(229, 38, 206);
  opacity: 0.2;
  outline: 3px dashed hsl(248, 91%, 42%);
}
.top {
  color: rgb(77, 220, 20);
  font-size: 33px;
  font-style: italic;
}
