@import url("https://fonts.googleapis.com/css?family=Roboto:regular,400,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oswald:regular,400&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter:300,500,700&display=swap");

.wrapper {
  height: 1114px;
  padding-right: 15px;
  padding-left: 15px;
}
body {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #3f3f3f;
  background: #f3f2f2;
}
.form {
  max-width: 606px;
  font-family: "Oswald";
  color: #000000;
  margin: 0 auto;
}
.form * {
  outline: none;
}
.form__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 68px;
  color: #000000;
}
h1 {
  font-weight: 400;
  font-size: 24px;
  line-height: 68px;
  color: #000000;
  margin: 0px 0px 30px 0px;
}
.form__item {
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 27px 0px;
}
.form__label {
  padding-right: 47px;
}
.form__input {
  width: 451px;
  height: 44px;
  border: 1px solid #c4c4c4;
  font-size: 18px;
  transition: all 0.5s ease 0s;
}

.form__input:focus {
  box-shadow: 0 0 3px #392424;
}
.btn {
  width: 120px;
  height: 50px;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #000000;
  margin: 0 auto;
  transition: 0.5s ease 0s;
}

.btn:hover {
  background-color: #340505;
}
a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #0f6db1;
}
span {
  color: red;
}
.paragraph {
  font-family: "Roboto";
  font-size: 14px;
  margin-bottom: 14px;
  color: #828282;
}
.line {
  width: 606px;
  border: 1px solid #c4c4c4;
  margin: 20px 0px;
}
.form__item_item__form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.item__form {
  margin-bottom: 13px;
}
.form__item:last-child {
  margin-bottom: 46px;
}

.form__navigation {
  display: flex;
  justify-content: space-between;
}
.form__navigation-btn__left {
  width: 120px;
  height: 50px;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #000000;
  transition: 0.5s ease 0s;
}
.form__navigation-btn__left:hover {
  background-color: #340505;
}
.form__navigation-btn__right {
  width: 120px;
  height: 50px;
  font-family: "Oswald";
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #0b0b0b;
  background-color: #f9f1f1;
  transition: 0.5s ease 0s;
}
.form__navigation-btn__right:hover {
  background-color: #dac8c8;
}
.form__radio {
  display: flex;
  flex-wrap: wrap;
}
.form__radio,
p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #3f3f3f;
}
.form__radio {
  display: flex;
  justify-content: space-between;
  max-width: 380px;
  padding: 14px 0px;
}
/* ------------------------------------------------------------------------------------- */
.form__form-checkout {
  max-width: 700px;
  font-family: "Inter";
  color: #000000;
  margin: 30px auto;
}
.form__form-body-body__form {
}
.form__form-body {
}
.form__form-title {
  font-weight: 700;
  font-size: 44px;
  line-height: 55px;
  color: #212b36;
}
.form__form-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #637381;
  margin-bottom: 50px;
}
.form__form-sibtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #212b36;
  margin-bottom: 30px;
}
.form__form-body {
}
.form__input-checkout {
  width: 336px;
  height: 54px;
  border: 1px solid #c4c4c4;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #637381;
  margin: 20px 11px 0px 0px;
  border-radius: 7px;
  padding: 15px 25px 15px 25px;
  transition: all 0.5s ease 0s;
}
.form__input-checkout:focus {
  box-shadow: 0 1px 4px #03611e;
}
.form__area {
  margin-top: 30px;
  border-radius: 7px;
  width: 100%;
  height: 180px;
  background: #ffffff;
  border: 1px solid #e7e7e7;
  transition: all 0.5s ease 0s;
  margin-bottom: 28px;
  /* resize: vertical; */
}
.form__area:focus {
  box-shadow: 0 1px 4px #0cef4c;
}

.form__checkbox {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #637381;
  margin-bottom: 55px;
}
.input__checkbox {
  width: 22px;
  height: 22px;
  color: #e7e7e7;
  margin-right: 14px;
}
.coupon__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: #212b36;
  margin-bottom: 25px;
}
.coupon__line {
}
.coupon__input {
  width: 325px;
  height: 48px;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  margin-right: 20px;
  padding: 12px 22px;
  transition: all 0.5s ease 0s;
}
.coupon__button {
  width: 135px;
  height: 48px;
  background: #212b36;
  border-radius: 5px;
  color: #e7e7e7;
}
.coupon__input:focus {
  box-shadow: 0 1px 4px #0cef4c;
}
.coupon__button:hover {
  background-color: #340505;
}
